__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.eggs/
*.egg

.venv/
venv/
.env
.env.*
doppler.yaml

*.db
*.db-journal
*.db-wal
*.lock
!poetry.lock

logs/
*.log

.mypy_cache/
.pytest_cache/
.ruff_cache/
htmlcov/
.coverage

.idea/
.vscode/
*.swp
*.swo

.DS_Store
Thumbs.db
